.chart-container{
  background: #ffffff;
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
  padding: 15px 0;
}
[data-site_mode="dark"] .chart-container{
	background-color: var(--dark-800);
}